body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fc1e8a;
    user-select: none;
    background-image: url("../imgs/scos.jpg");
    background-size: cover;

}
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: transparent;
    padding: 40px 60px;
}
h2 {
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.reset {
    padding: 15px 20px;
    width: 100%;
    color: #000;
    background-color: #fff;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    background: linear-gradient(to right, #E89E47, #7A5052, #299EBF);
    box-shadow: inset 1px 1px 5px 5px;
}

.reset:focus {
    color: #fff;
}
.game {
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}
.item {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-size: 3em;
    transform: rotateX(180deg);
    transition: 0.25s;
}

.item::After {
    content: "";
    position: absolute;
    inset: 0;
    background: #404040;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}
.item.boxOpen {
    transform: rotateY(0deg);
}
.boxOpen::after,
.boxMatch::after {
    transform: rotateY(180deg);
}

@media(max-width: 375px) {
    h2{
        width: 80%;
        text-align: center;
    }
    .game {
        justify-content: center;

    }
    .item{
        width: 80px;
        height: 80px;
    }
    .reset{
        width: 80%;

    }
}